@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');
body{
   
    margin:0;
  
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: "Geist Mono", monospace;
    
}
#quadrado{
   
    margin:100px;
    height: 300px;

    border: 2px solid white;

}

form{
    color: black;
    position: absolute;
    top: 20%;
    margin-left: 700px;
    height: 67%;
    width: 30%;
    
}

/* input */
#peso {
    background-color: rgb(235, 231, 231);
    height: 30px;
    width: 50%;
    margin-top: 10px;
    border-radius: 8px;
    border: 2px solid white;
}
/* icons */
#input_peso{
    margin-left: -30px;
    top: 22%;
    position: absolute;
    font-size: 17px;
}

#input_altura{
    margin-left: -30px;
    top: 39%;
    position: absolute;
    font-size: 20px;
}
/* incons */


#altura{
    background-color:rgb(235, 231, 231);
    height: 30px;
    width: 50%;
    margin-top: 10px;
    border-radius: 8px;
    border: 2px solid white;
}



/* button */
#button{
    
    background-color: rgb(25, 228, 25);;
    border: 2px solid white;
    color: #fff;
    font-family: "Geist Mono", monospace;
    text-align: center;
    font-weight: 700;
    display: inline-block;
    font-size: 17px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.5s ease;
    height: 30px;
    width: 50%;
    
}
#button:hover{
    background-color: #6f00ff;
}



#resp{
    color: black;
    border: 2px solid rgb(254, 253, 253);
    position: absolute;
    text-align: left;
    font-weight: 500;
    height: 100px;
    width: 500px;
    font-size: 15px;
    font-family: "Geist Mono", monospace;
    
}




/* imagem */
#img{
    position: absolute;
    top: 20%;
    margin-left: 300px;
    max-height: 0px;
    
}

#info{
    position: absolute;
    margin-top: 70px;
   
    
}

a{
    text-decoration: none;
    color: black;
    
}

  a:link:active, a:visited:active {
    color:#6f00ff;
  }

#final{
    
    justify-content: center;
    margin-top: 300px;
    display: flex;   

}

#link1,#link2,#link3{

margin: 8px;
margin-right: 80px;

}
